<table datatable [dtOptions]="dtOptions" class="row-border hover stripe">
<thead>
  <tr>
    <th>Index</th>
    <th>Name</th>
    <th>Age</th>
    <th>Birthday</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let person of persons; even as e; let i = index" [ngClass]="e ? 'odd' : 'even'"
    (click)="edit(i)">
    <td>{{ person.id }}</td>
    <td>{{ person.name }}</td>
    <td>{{ person.age }}</td>
    <td>{{ person.birthday }}</td>
  </tr>
</tbody>
</table>
<p *ngFor="let t of testArray">
{{t.a}}  {{t.b}}
</p>